.sctatisticShoppe{
    &__imageShoppe{
        width: 300px;
    }
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__col{
        p{
            text-align: center;
        }
    }
    
}