.addOder{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    &__div{
        margin-left: 10px;
        &-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}
.addOder .ant-card-body{
    
}
